@charset "UTF-8";


html {
 
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  background-image: url("http://www.mx7.com/i/06e/BOcVIq.jpg");
  margin: 0;
  padding: 0; }



body {
  background-color:#fff;
  font-family:sans-serif;
}
a{
  color:black;
  text-decoration :none;
  
}
.btn{
  margin: 0 10px 0 10px;
  font-size :35px;
  width : 30vh;
  height :30vh;
  background-color:#fcbdbd;
  border-color:Transparent;
  display:inline-block;
  
}
.inputa{
    width: 50px;
}
.v{
  margin-top:20px;
font-family:"Sukhumvit Set","Prompt", sans-serif;
}

.typ{
   margin:25vh 20px 20px 20px;
	text-align: center;
    font-family:"Sukhumvit Set","Prompt", sans-serif;
    font-weight:300;
    font-size:20px;
  background-color:rgba(255, 255, 255, 0.8);

}


@media screen and (max-width : 800px ){
	body { background-image: url("http://www.mx7.com/i/107/BHorrI.JPG");
 }
.inputa{
    width: 50px;
}
.v{
	
  margin-top:10px;
}
.typ{
  
	padding:0% 8% 0% 8%;
     font-size:15px;
	}
}
